.container {
  border: 1px solid ghostwhite;
  border-radius: 12px;
  width: 400px;
  height: max-content;
  display: flex;
  flex-direction: column;
  padding: 15px 10px;
}

.subtitle {
  color: gray;
}

.headers {
  margin-bottom: 20px;
}

.title {
  margin: 0 !important;
}

.buttons {
  display: flex;
  gap: 5px;
}

.generate-button {
  background-color: black;
  color: cornsilk;
  padding: 25px 15px;
  font-weight: bold;
  width: 14em;
}

.variations-button {
  font-weight: bold;
  padding: 25px 15px;
  width: 14em;
}

.variations-button:not(:disabled):hover {
  color: black !important;
  border-color: black !important;
}

.generate-button:not(:disabled):hover {
  background-color: black !important;
  color: cornsilk !important;
  border: none;
  text-decoration: underline;
}

.generated-commit-box {
  width: 85%;
  position: absolute;
  padding: 10px 15px;
  font-style: italic;
  overflow-x: scroll;
}

.copy-button {
  height: 44px;
  position: relative;
  left: 86%;
}
