.container{
  border: 1px solid ghostwhite;
  border-radius: 12px;
  width: 400px;
  height: max-content;
  display: flex;
  flex-direction: column;
  padding: 15px 10px;
}

.subtitle{
  color: gray;
}

.headers{
  margin-bottom: 20px;
}

.title{
  margin: 0 !important;
}




.generate-button{
  background-color: black;
  color: cornsilk;
  padding: 20px 15px;
}

.generate-button:hover{
  background-color: black !important;
  color: cornsilk !important;
  border: none;
  text-decoration: underline;
}